.browsetherange {
  display: flex;
  flex-direction: column;
  padding: 56px 126px;

  &__header-h1 {
    color: $fontColor;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }

  &__header-p {
    color: $fontColor1;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__carts {
    display: flex;
    padding: 56px 0;
    justify-content: center;
    gap: 16px;
  }

  &__cart {
    gap: 20px;
    display: flex;
    flex-direction: column;
    color: $fontColor;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &-img {
      display: flex;
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }
}
