.header {
  padding: 32px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;

  &__logo {
    display: flex;
    gap: 5px;
    align-items: center;

    &-img {
      width: 50px;
      height: 32px;
    }

    &-title {
      color: $black;
      font-family: Montserrat, sans-serif;
      font-size: 34px;
      font-style: normal;
      font-weight: 700;
    }
  }

  &__navbar {
    &-list {
      display: flex;
      list-style-type: none;

      &-title {
        padding-right: 75px;
        color: $black;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        // TODO: [Enver] don't give styles to tag names
        a {
          text-decoration: none;
          color: $black;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }

  &__burger {
    a {
      button {
        border: none;
        background: gray;
        text-align: center;
      }
    }

    &-icon {
      padding-right: 45px;
    }
  }
}
