.inspirations {
  background: #fcf8f3;
  display: flex;

  &__body {
    display: flex;
    width: 100%;
  }
  &__title {
    display: flex;
    padding: 223px 42px 223px 100px;
    flex-direction: column;

    &-h1 {
      color: var(--Color-Gray-1, #3a3a3a);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Poppins;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      /* 48px */
      //width: 422px;
    }

    &-p {
      color: var(--Color-Gray-2, #616161);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      /* 24px */
      //width: 368px;
      padding: 0px 0px 25px 0px;
    }

    &-button {
      background: var(--Primary, #b88e2f);
      color: var(--Color-White, #fff);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      width: 176px;
      height: 48px;
      /* 24px */
    }
  }

  &__slider {
    display: flex;
    padding: 44px 0px 44px 0px;
    gap: 24px;
    position: relative;
    margin-left: auto;

    &-cart {
      display: flex;
      flex-direction: column;
      position: relative;
      &-img {
        display: block;

        &-1 {
          position: relative;
          //width: 404px;
          height: 582px;
          display: flex;
          //max-width: 100%;
          //max-height: 100%;
          //height: auto;
        }

        &-2 {
          width: 372px;
          height: 486px;
          //display: flex;
          //max-width: 100%;
          //max-height: 100%;
          //height: auto;
        }
        /*&-3 {
                    //width: 372px;
                    //height: 486px;
                    //display: flex;
                    //max-width: 100%;
                    //max-height: 100%;
                    //height: auto;
                }*/
      }
      &-title {
        position: absolute;
        top: 428px;
        left: 24px;
        width: 217px;
        height: 130px;
        background: rgba(255, 255, 255, 0.72);
        backdrop-filter: blur(1.5px);
        gap: 8px;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        &-1 {
          display: flex;
          flex-direction: row;
          padding: 32px 43px 0px 32px;
          gap: 8px;
          &-img {
            stroke-width: 1px;
            stroke: var(--Color-Gray-2, #616161);
          }
        }

        &-2 {
          display: flex;
          flex-direction: row;
          padding: 24px 8px 32px 32px;

          &-p {
            color: var(--Color-Gray-2, #616161);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 24px */
          }

          &-h1 {
            color: var(--Color-Gray-1, #3a3a3a);
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            /* 33.6px */
          }
        }
      }

      &-button {
        position: absolute;
        top: 510px;
        left: 241px;
        width: 48px;
        height: 48px;
        background: var(--Primary, #b88e2f);
      }
    }

    &-button {
      position: absolute;
      top: 311px;
      right: 55px;
      width: 72px;
      height: 72px;
      background: none;
      border-radius: 5px;
      fill: var(--Color-White, #fff);
      filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.16));
      background-image: url(../assets/icons/ellipse4.svg);
      display: flex;
      justify-content: center;
      align-items: center;

      &-icon {
        top: 311px;
        right: 55px;
        width: 18px;
        height: 24px;
        background-image: url(../assets/icons/right24px.svg);
        background-repeat: no-repeat;
      }
    }

    &-radio {
      display: inline-flex;
      align-items: center;
      position: absolute;
      top: 570px;
      right: 328px;
      gap: 20px;

      &-buttons {
        width: 11px;
        height: 11px;
        background-image: url(../assets/icons/ellipse1.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: none;

        &:focus {
          width: 27px;
          height: 27px;
          background-image: url(../assets/icons/active.svg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          border: none;
        }
      }
    }
  }
}
