.quality {
  background: $white;
  display: flex;
  padding: 100px 0;

  &__wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;

    &-icon {
      display: flex;
      justify-content: space-around;
      gap: 20px;

      // TODO: [Qurban] fix
      h3 {
        color: $fontColor;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }

      // TODO: [Qurban] fix
      p {
        color: $grey3;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }
    }
  }
}
