.visit {
  display: flex;
  flex-direction: column;
  height: 316px;
  text-align: center;
  justify-content: center;
  background-image: url(../src/assets/images/shopcover.png);

  &__box {
    width: 124px;
    height: 72px;
    padding-top: 121px;

    &-content {
      &-h5 {
        color: #000;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    &-links {
      display: flex;
      justify-content: center;

      &-icon {
        width: 20px;
        height: 20px;
        background: url(../src/assets/icons/shoparrow.svg);
        margin: 2px 0 0 5px;
      }

      &-tohome {
        a {
          text-decoration: none;
          color: #000;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          list-style: none;
        }
      }

      &-toshop {
        a {
          text-decoration: none;
          color: #000;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
    }
  }
}
