.card {
  display: flex;
  /* width: 285px; */
  flex-direction: column;
  position: relative;
  flex-basis: calc(25% - 32px);
  &__img {
  }
  &__main {
    /* Сверху | Справа | Снизу | Слева */
    padding: 16px 20px 30px 16px;
    background: $lightBG;
    &-title {
      color: $grey1;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      padding-bottom: 8px;
    }
    &-name {
      color: $grey3;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 24px */
    }
  }
  &__prices {
    display: inline-flex;
    align-items: center;
    gap: 16px;
  }
  &__price-now {
    color: $grey1;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
  }
  &__price-decrese {
    color: $grey4;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-decoration-line: strikethrough;
  }
  &__hovered {
    /* Сверху | Справа | Снизу | Слева */
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #3a3a3a;
    top: auto;
    right: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    &-btn {
      width: 202px;
      height: 48px;
      background: $white;
      color: $primary;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
      cursor: pointer;
    }
    &-icons {
      /* Сверху | Справа | Снизу | Слева */
      padding: 34px 16px 175px 16px;
      display: flex;
      gap: 20px;
    }
    &-shareIcon {
      color: black;
    }
    &-shareIcon {
      display: flex;
      text-decoration: none;
      color: $white;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
      gap: 2px;
    }
    &-compare {
      display: flex;
      color: $white;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
      gap: 2px;
      text-decoration: none;
    }
    &-like {
      display: flex;
      color: $white;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
      gap: 2px;
      text-decoration: none;
    }
  }
  &:hover {
    .card__hovered {
      opacity: 0.72;
    }
  }
}
