.product {
    padding: 56px 102px 69px 102px;

    border: 1px solid $black;
    &__title {
        color: $grey1;
        text-align: center;
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 48px */
    }
    &__cards {
        margin-top: 32px;
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
    }
}
