$black: #000;
$grey1: #3a3a3a;
$grey2:#616161;
$grey3:#898989;
$grey4:#B0B0B0;
$grey5:#D8D8D8;
$greenAccents:#2EC1AC;
$lightBG:#F4F5F7;
$redAccents:#E97171;
$white:#FFFFFF;
$fontColor:#333333;
$fontColor1:#666666;
$primary:#B88E2F;